<config>
  
  <!-- Report goes to console if debug is true. -->
  <debug>true</debug>
  
  <repeatTest>
    <serverId>dev-local</serverId>
    <testId>aba:Get2DImagesByPOI</testId>
    <repititions>100</repititions>
  </repeatTest>

  <!-- List servers (with ports) to be tested: xxx.xxx.xxx or xxx.xxx.xxx:port  
        incf-dev-local.crbs.ucsd.edu (defaults to port 80)
        xxx.xxx.xxx:8080  -->
  <servers>
    <server id="dev-local">incf-dev-local.crbs.ucsd.edu</server>
    <server id="dev">incf-dev.crbs.ucsd.edu</server>
  </servers>
  
  <!-- List tests to be executed. @SERVER@ is a substitution placeholder. -->
  <tests>
  
    <!--  ABA -->
    <test id="aba:GetCapabilities">
      <uri>http://@SERVER@/aba/atlas?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>wps:Capabilities</responsePattern>
    </test>
    <test id="aba:DescribeProcess">
      <uri>http://@SERVER@/aba/atlas?service=WPS&amp;version=1.0.0&amp;request=DescribeProcess&amp;Identifier=ALL</uri>
      <responsePattern>wps:ProcessDescriptions</responsePattern>
    </test>
    <test id="aba:DescribeSRS">
      <uri>http://@SERVER@/aba/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=DescribeSRS&amp;DataInputs=srsName=Mouse_ABAreference_1.0</uri>
      <responsePattern>DescribeSRSResponse</responsePattern>
    </test>
    <test id="aba:DescribeTransformation">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="aba:Get2DImagesByPOI">
      <uri>http://@SERVER@/aba/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=Get2DImagesByPOI&amp;DataInputs=srsName=Mouse_AGEA_1.0;x=6600;y=4000;z=5600;filter=maptype:coronal</uri>
      <responsePattern>ImagesResponse</responsePattern>
    </test>
    <test id="aba:GetCorrelationMapByPOI">
      <uri> http://@SERVER@/aba/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=GetCorrelationMapByPOI&amp;DataInputs=srsName=Mouse_ABAvoxel_1.0;x=263;y=159;z=227;filter=maptype:coronal</uri>
      <responsePattern>CorrelationMapResponse</responsePattern>
    </test>
    <test id="aba:GetGenesByPOI">
      <uri> http://@SERVER@/aba/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=GetGenesByPOI&amp;DataInputs=srsName=Mouse_AGEA_1.0;x=6600;y=4000;z=5600;filter=NONE</uri>
      <responsePattern>GenesResponse</responsePattern>
    </test>
    <test id="aba:GetObjectsByPOI">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="aba:GetPropertiesByPOI">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="aba:GetStructureNamesByPOI">
      <uri>http://@SERVER@/aba/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=GetStructureNamesByPOI&amp;DataInputs=srsName=Mouse_ABAvoxel_1.0;x=280;y=112;z=162;vocabulary=Mouse_ABAvoxel_1.0;filter=structureset:fine</uri>
      <responsePattern>StructureTermsResponse</responsePattern>
    </test>
    <test id="aba:GetTransformationChain">
      <uri>Not applicable</uri>
      <responsePattern>CoordinateTransformationChainResponse</responsePattern>
    </test>
    <test id="aba:ListSRSs">
      <uri>http://@SERVER@/aba/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListSRSs</uri>
      <responsePattern>ListSRSResponse</responsePattern>
    </test>
    <test id="aba:ListTransformations">
      <uri>http://@SERVER@/aba/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListTransformations</uri>
      <responsePattern>ListTransformationsResponse</responsePattern>
    </test>
    <test id="aba:Retrieve2DImage">
      <uri>Not applicable</uri>
      <responsePattern>Retrieve2DImageResponse</responsePattern>
    </test>
    <test id="aba:TransformPOI">
      <uri> http://@SERVER@/aba/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=TransformPOI&amp;DataInputs=transformationCode=Mouse_ABAvoxel_1.0_To_Mouse_AGEA_1.0_v1.0;x=1;y=112;z=162</uri>
      <responsePattern>TransformationResponse</responsePattern>
    </test>

    <!-- EMAP -->
    <test id="emap:GetCapabilities">
      <uri>http://@SERVER@/emap/atlas?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>wps:Capabilities</responsePattern>
    </test>
    <test id="emap:DescribeProcess">
      <uri>http://@SERVER@/emap/atlas?service=WPS&amp;version=1.0.0&amp;request=DescribeProcess&amp;Identifier=ALL</uri>
      <responsePattern>wps:ProcessDescriptions</responsePattern>
    </test>
    <test id="emap:DescribeSRS">
      <uri>Planned</uri>
      <responsePattern>DescribeSRSResponse</responsePattern>
    </test>
    <test id="emap:DescribeTransformation">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="emap:Get2DImagesByPOI">
      <uri>Not applicable</uri>
      <responsePattern>ImagesResponse</responsePattern>
    </test>
    <test id="emap:GetCorrelationMapByPOI">
      <uri>Not applicable</uri>
      <responsePattern>CorrelationMapResponse</responsePattern>
    </test>
    <test id="emap:GetGenesByPOI">
      <uri>Not applicable</uri>
      <responsePattern>GenesResponse</responsePattern>
    </test>
    <test id="emap:GetObjectsByPOI">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="emap:GetPropertiesByPOI">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="emap:GetStructureNamesByPOI">
      <uri>Not applicable</uri>
      <responsePattern>StructureTermsResponse</responsePattern>
    </test>
    <test id="emap:GetTransformationChain">
      <uri>Not applicable</uri>
      <responsePattern>CoordinateTransformationChainResponse</responsePattern>
    </test>
    <test id="emap:ListTransformations">
      <uri>http://@SERVER@/emap/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListTransformations</uri>
      <responsePattern>ListTransformationsResponse</responsePattern>
    </test>
    <test id="emap:Retrieve2DImage">
      <uri>Not applicable</uri>
      <responsePattern>Retrieve2DImageResponse</responsePattern>
    </test>
    <test id="emap:TransformPOI">
      <uri>http://@SERVER@/emap/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=TransformPOI&amp;DataInputs=transformationCode=Mouse_WHS_1.0_To_Mouse_EMAP-T26_1.0_v1.0;x=12;y=-29;z=-73</uri>
      <responsePattern>TransformationResponse</responsePattern>
    </test>

    <!-- UCSD -->
    <test id="ucsd:GetCapabilities">
      <uri>http://@SERVER@/ucsd/atlas?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>wps:Capabilities</responsePattern>
    </test>
    <test id="ucsd:DescribeProcess">
      <uri>http://@SERVER@/ucsd/atlas?service=WPS&amp;version=1.0.0&amp;request=DescribeProcess&amp;Identifier=ALL</uri>
      <responsePattern>wps:ProcessDescriptions</responsePattern>
    </test>
    <test id="ucsd:DescribeSRS">
      <uri>http://@SERVER@/ucsd/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=DescribeSRS&amp;DataInputs=srsName=Mouse_Paxinos_1.0</uri>
      <responsePattern>DescribeSRSResponse</responsePattern>
    </test>
    <test id="ucsd:DescribeTransformation">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="ucsd:Get2DImagesByPOI">
      <uri>http://@SERVER@/ucsd/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=Get2DImagesByPOI&amp;DataInputs=srsName=Mouse_ABAvoxel_1.0;x=263;y=159;z=227;filter=maptype:sagittal;tolerance=3</uri>
      <responsePattern>ImagesResponse</responsePattern>
    </test>
    <test id="ucsd:GetCorrelationMapByPOI">
      <uri>Not applicable</uri>
      <responsePattern>CorrelationMapResponse</responsePattern>
    </test>
    <test id="ucsd:GetGenesByPOI">
      <uri>Not applicable</uri>
      <responsePattern>GenesResponse</responsePattern>
    </test>
    <test id="ucsd:GetObjectsByPOI">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="ucsd:GetPropertiesByPOI">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="ucsd:GetStructureNamesByPOI">
      <uri>http://@SERVER@/ucsd/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=GetStructureNamesByPOI&amp;DataInputs=srsName=Mouse_Paxinos_1.0;x=-4;y=-2.3;z=2;vocabulary=Mouse_Paxinos_1.0;filter=NONE</uri>
      <responsePattern>StructureTermsResponse</responsePattern>
    </test>
    <test id="ucsd:GetTransformationChain">
      <uri>Not applicable</uri>
      <responsePattern>CoordinateTransformationChainResponse</responsePattern>
    </test>
    <test id="ucsd:ListSRSs">
      <uri>http://@SERVER@/ucsd/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListSRSs</uri>
      <responsePattern>ListSRSResponse</responsePattern>
    </test>
    <test id="ucsd:ListTransformations">
      <uri>http://@SERVER@/ucsd/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListTransformations</uri>
      <responsePattern>ListTransformationsResponse</responsePattern>
    </test>
    <test id="ucsd:Retrieve2DImage">
      <uri>http://@SERVER@/ucsd/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=Retrieve2DImage&amp;DataInputs=sourceType=WMS;sourceURL=http%3A%2F%2Fimage.wholebraincatalog.org%2Fcgi-bin%2Fmapserv%3Fmap%3Dcrbsatlas%2Fmapfiles%2Fgensat_3363_modified_sm_transformed-ms.map%26LAYERS%3Dgensat_penk1_09%26FORMAT%3Dpng24%26VERSION%3D1.1.1%26REQUEST%3DGetMap;srsName=Mouse_ABAreference_1.0;xmin=-1.9298;xmax=8.73376;ymin=-9.92461;ymax=1.14128;filter=NONE</uri>
      <responsePattern>Retrieve2DImageResponse</responsePattern>
    </test>
    <test id="ucsd:TransformPOI">
      <uri> http://@SERVER@/ucsd/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=TransformPOI&amp;DataInputs=transformationCode=Mouse_Paxinos_1.0_To_Mouse_WHS_0.9_v1.0;x=1;y=4.3;z=1.78</uri>
      <responsePattern>TransformationResponse</responsePattern>
    </test>

    <!-- WHS -->
    <test id="whs:GetCapabilities">
      <uri>http://@SERVER@/whs/atlas?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>wps:Capabilities</responsePattern>
    </test>
    <test id="whs:DescribeProcess">
      <uri>http://@SERVER@/whs/atlas?service=WPS&amp;version=1.0.0&amp;request=DescribeProcess&amp;Identifier=ALL</uri>
      <responsePattern>wps:ProcessDescriptions</responsePattern>
    </test>
    <test id="whs:DsecribeSRS">
      <uri>http://@SERVER@/whs/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=DescribeSRS&amp;DataInputs=srsName=Mouse_WHS_0.9</uri>
      <responsePattern>DescribeSRSResponse</responsePattern>
    </test>
    <test id="whs:DescribeTransformation">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="whs:Get2DImagesByPOI">
      <uri>Not applicable</uri>
      <responsePattern>ImagesResponse</responsePattern>
    </test>
    <test id="whs:GetCorrelationMapByPOI">
      <uri>Not applicable</uri>
      <responsePattern>CorrelationMapResponse</responsePattern>
    </test>
    <test id="whs:GetGenesByPOI">
      <uri>Not applicable</uri>
      <responsePattern>GenesResponse</responsePattern>
    </test>
    <test id="whs:GetObjectsByPOI">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="whs:GetPropertiesByPOI">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="whs:GetStructureNamesByPOI">
      <uri> http://@SERVER@/whs/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=GetStructureNamesByPOI&amp;DataInputs=srsName=Mouse_paxinos_1.0;x=1;y=4.3;z=1.78;vocabulary=;filter=</uri>
      <responsePattern>StructureTermsResponse</responsePattern>
    </test>
    <test id="whs:GetTransformationChain">
      <uri>Not applicable</uri>
      <responsePattern>CoordinateTransformationChainResponse</responsePattern>
    </test>
    <test id="whs:ListSRSs">
      <uri>http://@SERVER@/whs/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListSRSs</uri>
      <responsePattern>ListSRSResponse</responsePattern>
    </test>
    <test id="whs:ListTransformations">
      <uri>http://@SERVER@/whs/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListTransformations</uri>
      <responsePattern>ListTransformationsResponse</responsePattern>
    </test>
    <test id="whs:Retrieve2DImage">
      <uri>Not applicable</uri>
      <responsePattern>Retrieve2DImageResponse</responsePattern>
    </test>
    <test id="whs:TransformPOI">
      <uri> http://@SERVER@/whs/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=TransformPOI&amp;DataInputs=transformationCode=Mouse_WHS_1.0_To_Mouse_WHS_0.9_v1.0;x=1.5;y=1;z=0.6</uri>
      <responsePattern>TransformationResponse</responsePattern>
    </test>

    <!-- Central -->
    <test id="central:GetCapabilities">
      <uri>http://@SERVER@/central/atlas?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>wps:Capabilities</responsePattern>
    </test>
    <test id="central:DescribeProcess">
      <uri>http://@SERVER@/central/atlas?service=WPS&amp;version=1.0.0&amp;request=DescribeProcess&amp;Identifier=ALL</uri>
      <responsePattern>wps:ProcessDescriptions</responsePattern>
    </test>
    <test id="central:DsecribeSRS">
      <uri>Not applicable</uri>
      <responsePattern>DescribeSRSResponse</responsePattern>
    </test>
    <test id="central:DescribeTransformation">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="central:Get2DImagesByPOI">
      <uri> http://@SERVER@/central/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=Get2DImagesByPOI&amp;DataInputs=srsName=Mouse_ABAvoxel_1.0;x=263;y=159;z=227;filter=maptype:sagittal;tolerance=3</uri>
      <responsePattern>ImagesResponse</responsePattern>
    </test>
    <test id="central:GetCorrelationMapByPOI">
      <uri> http://@SERVER@/central/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=GetCorrelationMapByPOI&amp;DataInputs=srsName=Mouse_ABAvoxel_1.0;x=263;y=159;z=227;filter=maptype:coronal</uri>
      <responsePattern>CorrelationMapResponse</responsePattern>
    </test>
    <test id="central:GetGenesByPOI">
      <uri> http://@SERVER@/central/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=GetGenesByPOI&amp;DataInputs=srsName=Mouse_AGEA_1.0;x=6600;y=4000;z=5600;filter=NONE</uri>
      <responsePattern>GenesResponse</responsePattern>
    </test>
    <test id="central:GetObjectsByPOI">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="central:GetPropertiesByPOI">
      <uri>Not applicable</uri>
      <responsePattern></responsePattern>
    </test>
    <test id="central:GetStructureNamesByPOI">
      <uri>http://@SERVER@/central/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=GetStructureNamesByPOI&amp;DataInputs=srsName=Mouse_Paxinos_1.0;x=1;y=4.3;z=1.78;vocabulary=;filter=structureset:anatomic</uri>
      <responsePattern>StructureTermsResponse</responsePattern>
    </test>
    <test id="central:GetTransformationChain">
      <uri>http://@SERVER@/central/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=GetTransformationChain&amp;DataInputs=inputSrsName=Mouse_ABAreference_1.0;outputSrsName=Mouse_WHS_1.0;filter=cerebellum</uri>
      <responsePattern>CoordinateTransformationChainResponse</responsePattern>
    </test>
    <test id="central:ListSRSs">
      <uri>http://@SERVER@/central/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListSRSs</uri>
      <responsePattern>ListSRSResponse</responsePattern>
    </test>
    <test id="central:ListTransformations">
      <uri>http://@SERVER@/central/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListTransformations</uri>
      <responsePattern>ListTransformationsResponse</responsePattern>
    </test>
    <test id="central:Retrieve2DImage">
      <uri>Not applicable</uri>
      <responsePattern>Retrieve2DImageResponse</responsePattern>
    </test>
    <test id="central:TransformPOI">
      <uri>Not applicable</uri>
      <responsePattern>TransformationResponse</responsePattern>
    </test>

  </tests>
  
  <reporting>
    <sendemail>false</sendemail>
    <email>
      <host>smtp.ucsd.edu</host>
      <from>drlittle@ucsd.edu</from>
      <tos>
        <to>drlittle@ucsd.edu</to>
        <to>zaslavsk@sdsc.edu</to>
        <to>mmemon@sdsc.edu</to>
      </tos>
    </email>
  </reporting>

</config>