<config>
  
  <!-- Report goes to console if debug is true. -->
  <debug>true</debug>

  <!-- List hosts (with ports) to be tested: xxx.xxx.xxx or xxx.xxx.xxx:port  
        incf-dev-local.crbs.ucsd.edu (defaults to port 80)
        xxx.xxx.xxx:8080  -->
  <hosts>
    <host>incf-dev-local.crbs.ucsd.edu</host>
  </hosts>
  
  <!-- List tests to be executed. @HOST@ is a substitution placeholder. -->
  <tests>
  
    <test>
      <uri>http://@HOST@/central/atlas?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>wps:Capabilities</responsePattern>
    </test>
    <test>
      <uri>http://@HOST@/central/atlas?service=WPS&amp;version=1.0.0&amp;request=DescribeProcess&amp;Identifier=ALL</uri>
      <responsePattern>wps:ProcessDescriptions</responsePattern>
    </test>
    <test>
      <uri>http://@HOST@/central/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListSRSs</uri>
      <responsePattern>ListSRSResponse</responsePattern>
    </test>
    <test>
      <uri>http://@HOST@/central/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListTransformations</uri>
      <responsePattern>ListTransformationsResponse</responsePattern>
    </test>

    <test>
      <uri>http://@HOST@/aba/atlas?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>wps:Capabilities</responsePattern>
    </test>
    <test>
      <uri>http://@HOST@/aba/atlas?service=WPS&amp;version=1.0.0&amp;request=DescribeProcess&amp;Identifier=ALL</uri>
      <responsePattern>wps:ProcessDescriptions</responsePattern>
    </test>
    <test>
      <uri>http://@HOST@/aba/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListSRSs</uri>
      <responsePattern>ListSRSResponse</responsePattern>
    </test>
    <test>
      <uri>http://@HOST@/aba/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListTransformations</uri>
      <responsePattern>ListTransformationsResponse</responsePattern>
    </test>

    <test>
      <uri>http://@HOST@/emap/atlas?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>wps:Capabilities</responsePattern>
    </test>
    <test>
      <uri>http://@HOST@/emap/atlas?service=WPS&amp;version=1.0.0&amp;request=DescribeProcess&amp;Identifier=ALL</uri>
      <responsePattern>wps:ProcessDescriptions</responsePattern>
    </test>
    <test>
      <uri>http://@HOST@/emap/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListTransformations</uri>
      <responsePattern>ListTransformationsResponse</responsePattern>
    </test>

    <test>
      <uri>http://@HOST@/ucsd/atlas?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>wps:Capabilities</responsePattern>
    </test>
    <test>
      <uri>http://@HOST@/ucsd/atlas?service=WPS&amp;version=1.0.0&amp;request=DescribeProcess&amp;Identifier=ALL</uri>
      <responsePattern>wps:ProcessDescriptions</responsePattern>
    </test>
    <test>
      <uri>http://@HOST@/ucsd/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListSRSs</uri>
      <responsePattern>ListSRSResponse</responsePattern>
    </test>
    <test>
      <uri>http://@HOST@/ucsd/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListTransformations</uri>
      <responsePattern>ListTransformationsResponse</responsePattern>
    </test>

    <test>
      <uri>http://@HOST@/whs/atlas?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>wps:Capabilities</responsePattern>
    </test>
    <test>
      <uri>http://@HOST@/whs/atlas?service=WPS&amp;version=1.0.0&amp;request=DescribeProcess&amp;Identifier=ALL</uri>
      <responsePattern>wps:ProcessDescriptions</responsePattern>
    </test>
    <test>
      <uri>http://@HOST@/whs/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListSRSs</uri>
      <responsePattern>ListSRSResponse</responsePattern>
    </test>
    <test>
      <uri>http://@HOST@/whs/atlas?service=WPS&amp;version=1.0.0&amp;request=Execute&amp;Identifier=ListTransformations</uri>
      <responsePattern>ListTransformationsResponse</responsePattern>
    </test>


<!-- 
    <test>
      <uri>http://incf-dev.crbs.ucsd.edu:8080/atlas-central?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>GetCapabilities</responsePattern>
    </test>
    <test>
      <uri>http://incf-dev.crbs.ucsd.edu:8080/atlas-aba?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>GetCapabilities</responsePattern>
    </test>
    <test>
      <uri>http://incf-dev.crbs.ucsd.edu:8080/atlas-emap?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>GetCapabilities</responsePattern>
    </test>
    <test>
      <uri>http://incf-dev.crbs.ucsd.edu:8080/atlas-ucsd?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>GetCapabilities</responsePattern>
    </test>
    <test>
      <uri>http://incf-dev.crbs.ucsd.edu:8080/atlas-whs?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>GetCapabilities</responsePattern>
    </test>

    <test>
      <uri>http://incf.crbs.ucsd.edu:8080/atlas-central?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>GetCapabilities</responsePattern>
    </test>
    <test>
      <uri>http://incf.crbs.ucsd.edu:8080/atlas-aba?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>GetCapabilities</responsePattern>
    </test>
    <test>
      <uri>http://incf.crbs.ucsd.edu:8080/atlas-emap?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>GetCapabilities</responsePattern>
    </test>
    <test>
      <uri>http://incf.crbs.ucsd.edu:8080/atlas-ucsd?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>GetCapabilities</responsePattern>
    </test>
    <test>
      <uri>http://incf.crbs.ucsd.edu:8080/atlas-whs?service=WPS&amp;request=GetCapabilities</uri>
      <responsePattern>GetCapabilities</responsePattern>
    </test>
 -->
  </tests>
  
  <reporting>
    <sendemail>false</sendemail>
    <email>
      <host>smtp.ucsd.edu</host>
      <from>drlittle@ucsd.edu</from>
      <tos>
        <to>drlittle@ucsd.edu</to>
        <to>zaslavsk@sdsc.edu</to>
        <to>mmemon@sdsc.edu</to>
      </tos>
    </email>
  </reporting>

</config>